<div class="container">
  <!-- Left Sidebar (Menu Bar) -->
  <div class="sidebar" (mouseenter)="isSidebarOpen = true" (mouseleave)="isSidebarOpen = false">
    <!-- <h3>Chart Options</h3> -->
    <ul>

      <li routerLink="/bar-chart" routerLinkActive="active">
        <i class="fas fa-chart-bar"></i>
        <span *ngIf="isSidebarOpen">Bar Chart</span>
      </li>
      <li routerLink="/line-chart" routerLinkActive="active">
        <i class="fas fa-chart-line"></i>
        <span *ngIf="isSidebarOpen">Line Chart</span>
      </li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>